<div class="main_container">
  <div
    class="inner_container"
    [@innerContainerSlideAnim]="showDrawer ? 'slided' : 'default'"
  >
    <app-navbar (openDrawerEvent)="handleOpenDrawer()"></app-navbar>
    <main>
      <ng-content></ng-content>
    </main>
  </div>

  <!-- Will be shown on small screen only -->
  <div
    @drawerSlideInAnim
    *ngIf="showDrawer"
    class="drawer_container d-flex flex-column gap-3 align-items-center"
    #drawerContainerRef
  >
    <div class="d-flex align-self-end">
      <app-bread-crumbs-icon
        (click)="handleOpenDrawer()"
        [style]="breadCrumbsStyle"
        style="cursor: pointer"
      ></app-bread-crumbs-icon>
    </div>
    <p
      *ngFor="let link of links"
      [routerLink]="link.url"
      (mouseover)="handleLinkMouseOver($event)"
      (mouseout)="handleLinkMouseOut($event)"
      routerLinkActive="link_active"
      class="link"
    >
      {{ link.name }}
    </p>
  </div>
</div>
