// $main-width: 100vw;
// $main-height: 100vh;
// $main-margin-vertical: 30px;
// $main-margin-horizontal: 40px;

.main_container {
  max-width: 1366px;
  width: 100vw;
  height: 100vh;
  padding: 20px 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.inner_container {
  background-color: rgba(255, 255, 255, 0.4);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  border-radius: 45px;
  width: 100%;
  height: 100%;
  padding: 35px;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .main_container {
    padding: 10px 15px;
  }
  .inner_container {
    border-radius: 35px;
  }
}
