@import "variables";
@import "animations";

.link {
  font-size: 14px;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: $primary;
    transition: all 0.1s ease-in;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -3px;
    background-color: $primary;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &::before {
    right: 50%;
    border-radius: 45px 0px 0px 45px;
  }
  &::after {
    left: 50%;
    border-radius: 0px 45px 45px 0px;
  }
}
.link_hovered {
  &::before,
  &::after {
    opacity: 1;
    width: calc(50% + 5px);
  }
}
.link_active {
  &::before,
  &::after {
    opacity: 1;
    width: calc(50% + 5px);
  }
}

.home_link {
  cursor: pointer;
}

.bread_crumbs {
  display: none;
}

@media (max-width: 768px) {
  .bread_crumbs {
    display: block;
  }
  .list_links {
    display: none !important;
  }
}
