<div class="d-flex flex-row justify-content-between w-100">
  <app-home-icon
    data="assets/icons/home-icon.svg"
    routerLink="/home"
    [style]="homeIconStyle"
    [fill]="homeIconFill"
    class="home_link"
    (mouseover)="homeIconMouseOver()"
    (mouseout)="homeIconMouseOut()"
  ></app-home-icon>

  <div class="d-flex flex-row gap-3 list_links">
    <div
      [@linkHoverAnim]=""
      *ngFor="let link of links"
      [routerLink]="[link.url]"
      class="link"
    >
      {{ link.name }}
    </div>
  </div>

  <app-bread-crumbs-icon
    (click)="handleOpenDrawer()"
    [style]="breadCrumbsStyle"
    class="bread_crumbs"
  ></app-bread-crumbs-icon>
</div>
