@import "variables";

.link {
  font-size: 14px;
  position: relative;

  &:hover {
    color: $primary;
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: calc(50% + 5px);
    height: 2px;
    bottom: -3px;
    background-color: $primary;
    // display: none;
  }

  &::before {
    right: 50%;
    border-radius: 45px 0px 0px 45px;
  }
  &::after {
    left: 50%;
    border-radius: 0px 45px 45px 0px;
  }
}
.home_link {
  &:hover {
    cursor: pointer;
  }
}
.bread_crumbs {
  display: none;
}

@media (max-width: 768px) {
  .bread_crumbs {
    display: block;
  }
  .list_links {
    display: none !important;
  }
}
