@import "fonts";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #005aff;
$secondary: #ffa1e8;
$font-family-base: "Roboto";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities/api";

// @import "bootstrap/scss/bootstrap";
// 5. Add additional custom code here

// $primary-color: black;
// $primary-light-color: #0092ff;
// $primary-dark-color: #2a30df;

// $secondary-color: #ffa1e8;
// $secondary-light-color: #fec8f0;
// $secondary-dark-color: #f456d1;
